.empty {
  margin-top: 10vh;
  text-align: center;

  img {
    width: 160px;
    opacity: 0.7;
    margin-bottom: 1rem;
  }

  h2 { margin: 0.25rem 0; }
  p  { color: var(--ion-color-medium); margin-bottom: 1rem; }
}
