<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page" [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Enter password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="block" (click)="login()" [disabled]="loading">
        {{ loading ? 'Logging in...' : 'Login' }}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="biometricEnabled" lines="none">
      <ion-button expand="block" color="tertiary" (click)="tryBiometric()" [disabled]="loading">Use Biometric</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button fill="clear" expand="block" (click)="goToSettings()">Set / Change Password</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
