<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page" [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <div style="display: flex; align-items: center; width: 100%">
        <ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" placeholder="Enter password"></ion-input>
        <ion-icon 
          [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
          (click)="showPassword = !showPassword"
          style="font-size: 1.5em; margin-left: 8px; cursor: pointer;"
        ></ion-icon>
      </div>
    </ion-item>

    <ion-item lines="none">
      <ion-button expand="block" (click)="login()" [disabled]="loading">
        {{ loading ? 'Logging in...' : 'Login' }}
      </ion-button>
    </ion-item>

    <ion-item *ngIf="biometricEnabled" lines="none">
      <ion-button expand="block" color="tertiary" (click)="tryBiometric()" [disabled]="loading">Use Biometric</ion-button>
    </ion-item>

    <ion-item lines="none">
      <ion-button fill="clear" expand="block" (click)="goToSettings()">Set / Change Password</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
