<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">

    <ion-tab-button tab="home" href="/home">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rsearch" href="/rsearch">
      <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
      <ion-label>RSearch</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="roulette" href="/roulette">
      <ion-icon name="shuffle-outline" aria-hidden="true"></ion-icon>
      <ion-label>Roulette</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ion-icon name="settings-outline" aria-hidden="true"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
